<!--What's This-->
<div class="modal" id="infoModal">
    <div class="navbar">
      <ul class="nav-options">
        <li class="navlink close" data-anijs="if: click, do: $removeClass visible, to: #infoModal">Close</li>
      </ul>
    </div>
    <div class="container">
    <div class="modalText">
      <div class="paragraphContainer">
        <h1 class="title">improved</h1>
        <p>Improved is a project by <a href="http://www.darindimitroff.com" target="_blank">Darin Dimitroff</a>, product designer at <a href="http://www.thecrazyones.agency" target="_blank">The Crazy Ones</a>.</p>
        <p>Developing complete visual overhauls and focusing solely on decoration is a thing among designers these days, especially on Dribbble. In a world of increasing complexity, we should strive to be recognized as engineers, not jewelers. My goal for Improved is to appreciate what great design teams have built and try to take it at least one tiny step further. Nothing more.
        </p>
        <p>
          <strong>TLDR: I see things that could be improved every day. This is a place where I explore ideas through writing and prototyping.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
